@model CyclingZone.Web.ViewModels.Site.Articles.ArticleViewModel
@{ 
    this.ViewData["Title"] = "Article";
}

@*TO DO Show "Related" as a column in rigth *@
<div class="col-9 bg-white mb-4">
    <h5><span class="text-danger">Home</span> / <span class="text-danger">@Model.CategoryName</span> / @Model.SubcategoryName</h5>
    <h2 class="mb-4 pl-3 pr-3"> <b>@Model.Title</b></h2>
    <h3 class="mb-3 pl-3 pr-3"> @Model.Subtitle</h3>
    <h6 >@Model.Author</h6>
    <h6 p-3">@Model.CreatedOn</h6>   
    <hr />
    <img class="image img-fluid pb-3" src="@Model.ImageUrl" />
</div>
<div class="col-9 bg-white mb-5">@Html.Raw(Model.SanitizedContent)</div>