@using CyclingZone.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body><nav class="navbar navbar-expand-lg navbar-dark">
    <div id="header">
        <div id="logo">
            <a asp-controller="Home" asp-action="Index"> <img src="images/cycleZone.gif" alt="LOGO"> </a>
        </div>
        <ul id="navigation" class="navbar-nav">

            @*<li class="active">
            <a href="index.html">home</a>
        </li>
        <li>
            <a href="about.html">about</a>
        </li>*@
            <li>
                <a href="blog.html">blog</a>
            </li>
            <li class="pr-5">
                <a href="journey.html">the journey</a>
            </li>
            <partial name="_LoginPartial" />
        </ul>
    </div>
    </nav><div class="text-center">
    <h2 class="display-4">Welcome to @GlobalConstants.SystemName!</h2>
    <h3>All about road cycling</h3>
</div>
    <div id="adboxs">
        <div>
            <div>
                <h1>Lorem Ipsum Dolor</h1>
                <p>
                    This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
                </p>
                <p>
                    You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                </p>
                <p>
                    If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
                </p>
                <a href="index.html" class="more">Read more!</a>
            </div>
        </div>
    </div>
    <div id="body">
        <div id="main">

            @this.RenderBody()
        </div>
    </div>
    <div id="footer">
        <ul id="connect">
            <li>
                <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook" title="Facebook"></a>
            </li>
            <li>
                <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter" title="Twitter"></a>
            </li>
            <li>
                <a href="http://freewebsitetemplates.com/go/youtube/" target="_blank" class="vimeo" title="Vimeo"></a>
            </li>
            <li>
                <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus" title="Google+"></a>
            </li>
        </ul>
        <div id="footnote">
            <ul>
                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="index.html">Gallery</a>
                </li>
            </ul>
            <span>&copy; Copyright &copy; 2011. Company name all rights reserved.</span>
        </div>
    </div>

    @*<header>
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
